<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99093877653-81t0crkot2qgiq14n9j20011ste5cels.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99093877653-81t0crkot2qgiq14n9j20011ste5cels</string>
	<key>API_KEY</key>
	<string>AIzaSyDsNYMXdlHhv31bclkulKWjMp-v7cvCgLM</string>
	<key>GCM_SENDER_ID</key>
	<string>99093877653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.focusSpotFinder</string>
	<key>PROJECT_ID</key>
	<string>focus-spot-finder-333708</string>
	<key>STORAGE_BUCKET</key>
	<string>focus-spot-finder-333708.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99093877653:ios:f92fdb38fa7e5e6dc11c9c</string>
</dict>
</plist>