<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011885434068-ddolqpq641sbo6pivov410thqjg9rkf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011885434068-ddolqpq641sbo6pivov410thqjg9rkf2</string>
	<key>API_KEY</key>
	<string>AIzaSyAQcbiXlaTXD-xzR6rauLjIB04fdE8JjKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1011885434068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fsf.focusSpotFinder</string>
	<key>PROJECT_ID</key>
	<string>focus-spot-finder-340900</string>
	<key>STORAGE_BUCKET</key>
	<string>focus-spot-finder-340900.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011885434068:ios:0b521d3a6c661eb18a4741</string>
</dict>
</plist>